In [1]:
import pandas as pd

In [2]:
nufus = pd.read_csv("data/tr_iller.csv")

In [3]:
nufus.head()

    Yıl        İl Toplam Nüfus Erkek Nüfusu Kadın Nüfusu Nüfus Yüzdesi
0  2016  İstanbul   14.804.116    7.424.390    7.379.726       % 18.55
1  2016    Ankara    5.346.518    2.653.431    2.693.087        % 6.70
2  2016     İzmir    4.223.545    2.104.632    2.118.913        % 5.29
3  2016     Bursa    2.901.396    1.454.059    1.447.337        % 3.64
4  2016   Antalya    2.328.555    1.174.936    1.153.619        % 2.92

In [4]:
kurban = pd.read_csv("data/kurban_kaza.csv", names=["iller","kazalar"])

In [5]:
kurban.head()

       iller  kazalar
0   İstanbul      583
1      Bursa      551
2      Konya      178
3      İzmir      161
4  Kırıkkale      137

In [6]:
bilanco = pd.merge(nufus, kurban, left_on="İl",right_on="iller")
bilanco.drop(["iller","Yıl","Erkek Nüfusu","Kadın Nüfusu","Nüfus Yüzdesi"],axis=1, inplace=True)

In [7]:
bilanco.sort_values("kazalar", ascending=False).head()

           İl Toplam Nüfus  kazalar
0    İstanbul   14.804.116      583
2       Bursa    2.901.396      551
5       Konya    2.161.303      178
1       İzmir    4.223.545      161
58  Kırıkkale      277.984      137

In [101]:
bilanco.dtypes

İl              object
Toplam Nüfus    object
kazalar          int64
dtype: object

In [102]:
bilanco["Toplam Nüfus"] = bilanco["Toplam Nüfus"].str.replace(".","")

In [103]:
bilanco.dtypes

İl              object
Toplam Nüfus    object
kazalar          int64
dtype: object

In [113]:
bilanco["Toplam Nüfus"] = bilanco["Toplam Nüfus"].astype("int")

In [114]:
bilanco.dtypes

İl               object
Toplam Nüfus      int64
kazalar           int64
oran-10binde    float64
dtype: object

In [115]:
bilanco["oran-10binde"] = bilanco.kazalar / bilanco["Toplam Nüfus"] * 10000

In [116]:
bilanco.sort_values("oran-10binde",ascending=False)

                İl  Toplam Nüfus  kazalar  oran-10binde
58       Kırıkkale        277984      137      4.928341
67         Bilecik        218297       71      3.252450
74           Kilis        130825       34      2.598892
56        Nevşehir        290895       65      2.234483
71         Çankırı        183880       38      2.066565
45         Aksaray        396673       81      2.041984
34         Kütahya        573642      114      1.987302
72       Gümüşhane        172034       34      1.976354
2            Bursa       2901396      551      1.899086
62         Karaman        245610       43      1.750743
42          Yozgat        421041       68      1.615045
66        Erzincan        226032       35      1.548453
64          Yalova        241665       35      1.448286
21       Eskişehir        844842      121      1.432220
29        Adıyaman        610484       85      1.392338
37        Osmaniye        522175       72      1.378848
63         Karabük        242347       33      1.361684
76         Bayburt         90154       11      1.220134
38       Çanakkale        519793       63      1.212021
17         Denizli       1005687      117      1.163384
57            Kars        289786       31      1.069755
28           Sivas        621224       66      1.062419
70          Bartın        192389       20      1.039560
50           Niğde        351468       36      1.024275
46       Kastamonu        376945       38      1.008105
65        Kırşehir        229975       23      1.000109
52            Rize        331048       32      0.966627
47           Düzce        370371       34      0.917998
75         Ardahan         98335        9      0.915239
25         Erzurum        762021       68      0.892364
..             ...           ...      ...           ...
35            Ağrı        542255       28      0.516362
16           Aydın       1068260       53      0.496134
53          Amasya        326351       15      0.459628
7        Şanlıurfa       1940627       88      0.453462
4            Adana       2201670       93      0.422407
40         Giresun        444467       18      0.404979
0         İstanbul      14804116      583      0.393809
1            İzmir       4223545      161      0.381196
24         Trabzon        779379       29      0.372091
13          Samsun       1295927       42      0.324092
11          Manisa       1396945       45      0.322132
61          Burdur        261401        8      0.306043
43             Muş        406501       12      0.295202
68           Sinop        205478        6      0.292002
41         Isparta        427324       12      0.280817
14       Balıkesir       1196176       32      0.267519
27  Afyonkarahisar        714523       17      0.237921
54           Siirt        322664        7      0.216944
23         Malatya        781305       14      0.179187
3          Antalya       2328555       41      0.176075
10           Hatay       1555165       27      0.173615
26            Ordu        750588       11      0.146552
22          Mardin        796237        9      0.113032
60         Hakkari        267813        3      0.112018
59          Bingöl        269560        3      0.111292
39          Şırnak        483788        5      0.103351
33          Batman        576899        5      0.086670
20           Muğla        923773        6      0.064951
51          Bitlis        341225        2      0.058612
19        Tekirdağ        972875        5      0.051394

[77 rows x 4 columns]

In [10]:
bilanco.kazalar.sum()

4563